{{ define "header"}} {{ partial "header" .}} {{ end }} {{ define "main"}}
{{/*  {{ template "_internal/schema.html" . }} */}}
<ion-page class="ion-page" main>
  {{ partial "page-header" . }}
  <ion-content padding>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>{{.Title}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              {{ if .Description }}
              <p>{{ .Description }}</p>
            </ion-card-content>
            {{ if not (isset .Params.twitter "player") }}
              {{ with.Params.images }} {{ range first 1 . }}
              <img src="{{ . | absURL }}" alt="Hero Image" />
              {{ end }} {{ end }} {{ end }}
            {{end}}
            {{ with .Params.twitter}}
            {{ if ne .card "app" -}}
              {{ if (isset . "player") }}
                <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
                  <iframe src="{{ .player }}" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;" allowfullscreen="" title="YouTube Video" frameborder="0"></iframe>
                </div>
                {{end}}
              {{ end }}
            {{ end }}
            <ion-card-content>
              <time class="post-time">{{ partial "post/meta" . }}</time>
            </ion-card-content>
            {{ with .Params.githublinks }} {{ range .}}
            <ion-row>
              <ion-col>
                  <ion-button class="ajonp-github" href="{{.}}" fill="block">
                      <ion-icon name="logo-github" slot="start"></ion-icon>
                      Show Source
                  </ion-button>
              </ion-col>
            </ion-row>
            {{ end }}{{ end }}
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col> {{ partial "scripts/headline-link.html" .Content | safeHTML }} </ion-col>
      </ion-row>
      <ion-row>
        {{ range first 1 (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
          {{ $.Scratch.Set "has_related" true }}
        {{ end }}
        
        {{ if $.Scratch.Get "has_related" }}
        <ion-card color="light">
          <ion-card-content>
            {{ partial "post/related-content" . }}
          </ion-card-content>
        </ion-card>
        {{end}}
        <ion-card color="light">
          <ion-card-content> {{ partial "post/byauthor" . }} </ion-card-content>
        </ion-card>
      </ion-row>
      <ion-row>
        {{ if .Site.DisqusShortname }} {{ template "_internal/disqus.html" . }}
        {{ end }}
      </ion-row>
    </ion-grid>
  </ion-content>
  {{ partial "footer" .}}
</ion-page>
{{ end }}
