:root {
  --ion-background-color: #ffffff;
  --ion-background-color-rgb: 255,255,255;

  --ion-text-color: #000000;
  --ion-text-color-rgb: 0,0,0;

  --ion-color-step-50: #f2f2f2;
  --ion-color-step-100: #e6e6e6;
  --ion-color-step-150: #d9d9d9;
  --ion-color-step-200: #cccccc;
  --ion-color-step-250: #bfbfbf;
  --ion-color-step-300: #b3b3b3;
  --ion-color-step-350: #a6a6a6;
  --ion-color-step-400: #999999;
  --ion-color-step-450: #8c8c8c;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #737373;
  --ion-color-step-600: #666666;
  --ion-color-step-650: #595959;
  --ion-color-step-700: #4d4d4d;
  --ion-color-step-750: #404040;
  --ion-color-step-800: #333333;
  --ion-color-step-850: #262626;
  --ion-color-step-900: #191919;
  --ion-color-step-950: #0d0d0d;

  --ion-color-primary: #3C2D4E;
  --ion-color-primary-rgb: 60,45,78;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #352845;
  --ion-color-primary-tint: #504260;

  --ion-color-secondary: #FC8991;
  --ion-color-secondary-rgb: 252,137,145;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #de7980;
  --ion-color-secondary-tint: #fc959c;

  --ion-color-tertiary: #3F51B4;
  --ion-color-tertiary-rgb: 63,81,180;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #37479e;
  --ion-color-tertiary-tint: #5262bc;

  --ion-color-success: #039588;
  --ion-color-success-rgb: 3,149,136;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #038378;
  --ion-color-success-tint: #1ca094;

  --ion-color-warning: #FE9800;
  --ion-color-warning-rgb: 254,152,0;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e08600;
  --ion-color-warning-tint: #fea21a;

  --ion-color-danger: #F34336;
  --ion-color-danger-rgb: 243,67,54;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d63b30;
  --ion-color-danger-tint: #f4564a;

  --ion-color-dark: #000000;
  --ion-color-dark-rgb: 255,255,255;
  --ion-color-dark-contrast: #000000;
  --ion-color-dark-contrast-rgb: 0,0,0;
  --ion-color-dark-shade: #e0e0e0;
  --ion-color-dark-tint: #ffffff;

  --ion-color-medium: #808080;
  --ion-color-medium-rgb: 128,128,128;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #717171;
  --ion-color-medium-tint: #8d8d8d;

  --ion-color-light: #ffffff;
  --ion-color-light-rgb: 0,0,0;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255,255,255;
  --ion-color-light-shade: #000000;
  --ion-color-light-tint: #1a1a1a;

  --ajonp-color-twitter: #1DA1F1;
  --ajonp-color-github: #23292D;
  --ajonp-color-youtube: #FF0000;
  --ajonp-color-slack: #008001;
}


.ajonp-twitter{
  --background: var(--ajonp-color-twitter);
  --color: white;
}
.ajonp-github{
  --background: var(--ajonp-color-github);
  --color: white;
}
.ajonp-youtube{
  --background: var(--ajonp-color-youtube);
  --color: white;
}
.ajonp-slack{
  --background: var(--ajonp-color-slack);
  --color: white;
}

.error-container {
  height: 100%;
  background-color: var(--ion-color-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.error-container h1 {
  margin: 0;
  font-size: 130px;
  font-weight: 300;
  color: white;
}

@media screen and (min-width: 768px) {
  .error-container h1 {
    font-size: 220px;
  }
  .copyright {
    font-size: .7em;
  }
}

@media screen and (min-width: 480px) {
  .return {
    position: absolute;
    width: 100%;
    bottom: 30px;
  }
}

.return {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  letter-spacing: -0.04em;
  margin: 0;
}

.return a {
  padding-bottom: 1px;
  color: var(--ion-color-dark);
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  -webkit-transition: border-color 0.1s ease-in;
  transition: border-color 0.1s ease-in;
}

a {
  background-color: transparent;
  color: var(--ion-color-dark);
}

ul, li {
  list-style-type: none;
}

.return a:hover {
  border-bottom-color: #fff;
}

/* For Disqus */
#disqus_thread{
  width: 100%;
}

pre{
  margin: 0;
}

#hits em{
  background-color: var(--ion-color-dark);
  color: var(--ion-color-dark-contrast);
  font-weight: 700;
  font-style: normal;
}

#search-box .ais-search-box{
  max-width: none;
}

video{
  width: 100%;
}

blockquote{
  border-left-color: var(--ion-color-medium);
  background-color: var(--ion-color-medium-tint);
  color: var(--ion-color-medium-contrast);
  border-left-style: solid;
  border-left-width: 4px;
  margin: .1em auto;
  padding: .5em;
  border-radius: .2em;
}
blockquote a {
  color: var(--ion-color-medium-contrast);
}

/* Make at-share have same shadow as ionic */
.at-share-btn-elements .at-share-btn {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);
}
.at-resp-share-element .at-share-btn:focus, .at-resp-share-element .at-share-btn:hover{
  box-shadow: 0 5px 5px -3px rgba(0,0,0,0.2),0 8px 10px 1px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12);
}


p img{
  box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);
}

h1, h2{
  border-bottom: 1px solid #eaecef;
  padding-bottom: .3em;
}


/* Animations */
.ajonp-jello-horizontal {
	-webkit-animation: jello-horizontal 5s infinite;
	        animation: jello-horizontal 5s infinite;
}

@-webkit-keyframes ajonp-jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  1% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  2% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  3% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  4% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  5% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  6% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  20% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  40% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes ajonp-jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  1% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  2% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  3% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  4% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  5% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  6% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  20% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  40% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
