:root {
  --ion-color-primary: #3c2d4e;
  --ion-color-primary-rgb: 60, 45, 78;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #352845;
  --ion-color-primary-tint: #504260;

  --ion-color-secondary: #ffc107;
  --ion-color-secondary-rgb: 255, 193, 7;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #e0aa06;
  --ion-color-secondary-tint: #ffc720;

  --ion-color-tertiary: #00bcd4;
  --ion-color-tertiary-rgb: 0, 188, 212;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #00a5bb;
  --ion-color-tertiary-tint: #1ac3d8;

  --ion-color-success: #008001;
  --ion-color-success-rgb: 0,128,1;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #007101;
  --ion-color-success-tint: #1a8d1a;

  --ion-color-warning: #e64a19;
  --ion-color-warning-rgb: 230, 74, 25;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #ca4116;
  --ion-color-warning-tint: #e95c30;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ajonp-color-twitter: #1DA1F1;
  --ajonp-color-github: #23292D;
  --ajonp-color-youtube: #FF0000;
  --ajonp-color-slack: #008001;
}

.ajonp-twitter{
  --background: var(--ajonp-color-twitter);
  --color: white;
}
.ajonp-github{
  --background: var(--ajonp-color-github);
  --color: white;
}
.ajonp-youtube{
  --background: var(--ajonp-color-youtube);
  --color: white;
}
.ajonp-slack{
  --background: var(--ajonp-color-slack);
  --color: white;
}

.error-container {
  height: 100%;
  background-color: var(--ion-color-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.error-container h1 {
  margin: 0;
  font-size: 130px;
  font-weight: 300;
  color: white;
}

@media (min-width: 768px) {
  .error-container h1 {
    font-size: 220px;
  }
}

.return {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  letter-spacing: -0.04em;
  margin: 0;
}

@media (min-width: 480px) {
  .return {
    position: absolute;
    width: 100%;
    bottom: 30px;
  }
}

.return a {
  padding-bottom: 1px;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  -webkit-transition: border-color 0.1s ease-in;
  transition: border-color 0.1s ease-in;
}

.return a:hover {
  border-bottom-color: #fff;
}

/* For Disqus */
#disqus_thread{
  width: 100%;
}

pre{
  margin: 0;
}

#hits em{
  background-color: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
  font-weight: 700;
  font-style: normal;
}

#search-box .ais-search-box{
  max-width: none;
}

video{
  width: 100%;
}

blockquote{
  border-left-color: var(--ion-color-medium);
  background-color: var(--ion-color-medium-tint);
  color: var(--ion-color-medium-contrast);
  border-left-style: solid;
  border-left-width: 4px;
  margin: .1em auto;
  padding: .5em;
  border-radius: .2em;
}
blockquote a {
  color: var(--ion-color-medium-contrast);
}

/* Make at-share have same shadow as ionic */
.at-share-btn-elements .at-share-btn {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);
}
.at-resp-share-element .at-share-btn:focus, .at-resp-share-element .at-share-btn:hover{
  box-shadow: 0 5px 5px -3px rgba(0,0,0,0.2),0 8px 10px 1px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12);
}


p img{
  box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);
}