{{ if eq (getenv "NODE_ENV") "production" }}
  {{/*  {{ if .Page.IsHome }}  */}}
    <script src="{{ "js/service-worker-registration.js" | absURL }}"></script>
  {{/*  {{end}}  */}}
{{end}}
{{/*  Algolia widgets  */}}
{{ with .Site.Params.algolia }}
<script>
    window.addEventListener("load", function() {
      const search = instantsearch({
        appId: "{{ .appid }}",
        apiKey: "{{ .apikey }}",
        indexName: "{{ .indexname }}",
        //routing: true,
        searchFunction(helper) {
          if (helper.state.query === '') {
            document.getElementById("algolia-powered").hidden = true;
            document.getElementById("refinement-list").hidden = true;
            document.getElementById("hits").hidden = true;
          }else{
            var headOffset = document.getElementsByTagName("ion-page")[0].getElementsByTagName("ion-header")[0].offsetHeight;
            var pageOffset = document.getElementsByTagName("ion-page")[0].offsetWidth;

            var p = document.getElementById("algolia-powered");
            p.hidden = false;
            p.setAttribute("style", 
            `
            position:absolute;
            top:${headOffset}px;
            background: #fff;
            box-shadow: 0 10px 20px rgba(0,0,0,.16);
            width: ${pageOffset - 40}px;
            z-index: 100;
            padding: 5px;
            margin-left: 20px;`);

            {{/*  var r = document.getElementById("refinement-list");
            r.hidden = false;
            r.setAttribute("style", 
            `
            position:absolute;
            top:${p.offsetHeight + headOffset}px;
            background: #fff;
            box-shadow: 0 10px 20px rgba(0,0,0,.16);
            width: ${pageOffset - 40}px;
            z-index: 100;
            padding: 5px;
            margin-left: 20px;`);  */}}

            var h = document.getElementById("hits");
            h.setAttribute("style", 
            `position:absolute; 
            top:${p.offsetHeight + headOffset}px;
            background: #fff;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 6px;
            border-bottom-left-radius: 6px;
            box-shadow: 0 10px 20px rgba(0,0,0,.16);
            width: ${pageOffset - 40}px;
            z-index: 100;
            padding: 5px;
            margin-left: 20px;
            `);
            h.hidden = false;
          }
      
          helper.search();
        }
      });
      search.addWidget(
        instantsearch.widgets.refinementList({
          container: '#refinement-list',
          attributeName: 'categories',
          autoHideContainer: true,
          collapsible: { collapsed: false },
        })
      );
      search.addWidget(
        instantsearch.widgets.searchBox({
          container: '#search-box',
          placeholder: 'Search for products',
          reset: true,
          loadingIndicator: true,
        })
      );
      search.addWidget(
        instantsearch.widgets.hits({
          container: "#hits",
          templates: {
            empty: 'No results',
            item: '{{ " <ion-item href={{permalink}}>{{{_highlightResult.title.value}}}</ion-item> " | safeHTML }}'
          }
        })
      );
      search.start();
    });
  </script>
  {{end}}
  {{/*  Add This  */}}
  {{ with .Site.Params.addthis }}
  {{ partial "addthis_js" . }}
  {{ end }}