<ion-menu style="border:none;">
  <ion-header>
    <ion-toolbar color="primary"> <ion-title>Menu</ion-title> </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-list-header> Navigate </ion-list-header>
      <ion-menu-toggle auto-hide="false">
        {{ $currentPage := . }} {{ range.Site.Menus.main }}
        <ion-item button href="{{ .URL }}">
          <ion-icon slot="start" name="{{ .Pre }}" color="primary"></ion-icon>
          <ion-label> {{ .Name }} </ion-label>
        </ion-item>
        {{ end }}
      </ion-menu-toggle>
    </ion-list>
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{.Title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content> {{ partial "toc" .}} </ion-card-content>
    </ion-card>
  </ion-content>
  <ion-footer>
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col>
          {{/*  {{ if .IsHome }}  */}}
          {{ with $.Site.Params.home }}
            {{ if or (isset . "showgithub") (isset . "showtwitter") (isset . "showyoutube") }}
                    {{ if and (isset . "showgithub") (isset $.Site.Params "github") }}
                        <ion-button class="ajonp-github" expand="block" href="https://github.com/{{ $.Site.Params.github }}">
                            <i class="fab fa-github" data-fa-transform="left-6"></i>
                            GitHub
                        </ion-button>
                    {{ end }}
                    {{ if and (isset . "showtwitter") (isset $.Site.Params "twitter") }}
                        <ion-button class="ajonp-twitter" expand="block" href="https://twitter.com/{{ $.Site.Params.twitter }}">
                            <i class="fab fa-twitter" data-fa-transform="left-6"></i>
                            Twitter
                        </ion-button>
                    {{ end }}
                    {{ if and (isset . "showyoutube") (isset $.Site.Params "youtube") }}
                        <ion-button class="ajonp-youtube" expand="block" href="https://www.youtube.com/channel/{{ $.Site.Params.youtube | absURL }}">
                            <i class="fab fa-youtube" data-fa-transform="left-6"></i>
                            YouTube
                        </ion-button>
                    {{ end }}
                </ion-row>
            {{ end }}
        {{ end }}
      {{/*  {{ end }}  */}}
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-footer>
</ion-menu>
