<ion-menu style="border:none;">
  <ion-header>
    <ion-toolbar color="primary"> <ion-title>Menu</ion-title> </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-menu-toggle auto-hide="false">
        {{ $currentPage := . }} {{ range.Site.Menus.main }}
        <ion-item button href="{{ .URL }}">
          <ion-icon slot="start" name="{{ .Pre }}" color="primary"></ion-icon>
          <ion-label> {{ .Name }} </ion-label>
        </ion-item>
        {{ end }}
      </ion-menu-toggle>
      <ion-row justify-content-center>
          {{/*  {{ if not .IsHome }}  */}}
          {{ with $.Site.Params.home }}
            {{ if or (isset . "showgithub") (isset . "showtwitter") (isset . "showyoutube") (isset . "showslack") }}
                    {{ if and (isset . "showgithub") (isset $.Site.Params "github") }}
                        <ion-button class="ajonp-github" href="https://github.com/{{ $.Site.Params.github }}">
                            <i class="fab fa-github fa-lg"></i>
                        </ion-button>
                    {{ end }}
                    {{ if and (isset . "showtwitter") (isset $.Site.Params "twitter") }}
                        <ion-button class="ajonp-twitter" href="https://twitter.com/{{ $.Site.Params.twitter }}">
                            <i class="fab fa-twitter fa-lg"></i>
                        </ion-button>
                    {{ end }}
                    {{ if and (isset . "showslack") (isset $.Site.Params "slack") }}
                        <ion-button class="ajonp-slack" href="https://{{ $.Site.Params.slack }}.slack.com">
                            <i class="fab fa-slack fa-lg"></i>
                        </ion-button>
                    {{ end }}
                    {{ if and (isset . "showyoutube") (isset $.Site.Params "youtube") }}
                        <ion-button class="ajonp-youtube" href="https://www.youtube.com/channel/{{ $.Site.Params.youtube | absURL }}">
                            <i class="fab fa-youtube fa-lg"></i>
                        </ion-button>
                    {{ end }}
            {{ end }}
        {{ end }}
      {{/*  {{ end }}  */}}
      </ion-row>
    </ion-list>
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{.Title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content> {{ partial "toc" .}} </ion-card-content>
    </ion-card>
  </ion-content>
</ion-menu>
