{{/*  Icons  */}}
<link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-icon-57x57.png" />
<link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-icon-60x60.png" />
<link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-icon-76x76.png" />
<link
  rel="apple-touch-icon"
  sizes="114x114"
  href="/icons/apple-icon-114x114.png"
/>
<link
  rel="apple-touch-icon"
  sizes="120x120"
  href="/icons/apple-icon-120x120.png"
/>
<link
  rel="apple-touch-icon"
  sizes="144x144"
  href="/icons/apple-icon-144x144.png"
/>
<link
  rel="apple-touch-icon"
  sizes="152x152"
  href="/icons/apple-icon-152x152.png"
/>
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="/icons/apple-icon-180x180.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="192x192"
  href="/icons/android-icon-192x192.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="/icons/favicon-32x32.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="96x96"
  href="/icons/favicon-96x96.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="/icons/favicon-16x16.png"
/>
<link rel="manifest" href="/manifest.json" />
<meta name="msapplication-TileColor" content="#ffffff" />
<meta name="msapplication-TileImage" content="/icons/ms-icon-144x144.png" />

{{ partial "meta/theme-color" . }}

{{/*  Ionic  */}}
<link
  rel="preload"
  href="https://unpkg.com/@ionic/core@4.0.0/css/ionic.bundle.css"
  as="style"
  onload="this.onload=null;this.rel='stylesheet'"
/>
<noscript><link rel="stylesheet" href="https://unpkg.com/@ionic/core@4.0.0/css/ionic.bundle.css"></noscript>
<script src="https://unpkg.com/@ionic/core@4.0.0/dist/ionic.js"></script>

{{/* Tag Manager */}}
{{ with .Site.Params.googleTagManager }}
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','{{ . }}');</script>
  <!-- End Google Tag Manager -->
{{ end }}

{{/*  Font Awesome  */}}
<script
  defer
  src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"
  integrity="sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0"
  crossorigin="anonymous"
></script>

{{/*  clipboardjs  */}}
<script src="https://unpkg.com/clipboard@2.0.0/dist/clipboard.min.js" defer></script>
<script>
  window.addEventListener("load", function() {
    (function(document) {
      var $highlight = document.querySelectorAll(".highlight");

      function addCopy(element) {
        var copy = document.createElement("ion-button");
        copy.setAttribute("shape", "round");
        copy.setAttribute("size", "small");
        copy.className = "copy";
        copy.textContent = "copy";

        var outer = document.createElement("div");
        outer.setAttribute("class", "chroma");
        outer.setAttribute("style","background:none")
        outer.appendChild(copy);
        element.prepend(outer);
      }

      for (var i = 0, len = $highlight.length; i < len; i++) {
        var highlight = $highlight[i];
        addCopy(highlight);
        highlight.querySelector("pre").setAttribute("style","margin: .1em auto;padding: .5em;border-radius: .2em;");
      }

      var clipboard = new ClipboardJS(".copy", {
        target: function(trigger) {
          return trigger.parentElement.parentElement.querySelector("code");
        }
      })
        .on("success", function(e) {
          successMessage(e.trigger, "Copied!");
          e.clearSelection();
        })
        .on("error", function(e) {
          successMessage(e.trigger, fallbackMessage(e.action));
        });
    })(document);
  });
  function successMessage(elem, msg) {
    var oldHTML = elem.innerHTML;
    elem.setAttribute("fill", "outline");
    elem.innerHTML = msg;
    setTimeout(function() {
      elem.innerHTML = oldHTML;
      elem.setAttribute("fill", "solid");
    }, 1000);
  }

  function fallbackMessage(elem, action) {
    var actionMsg = "";
    var actionKey = action === "cut" ? "X" : "C";
    if (isMac) {
      actionMsg = "Press ⌘-" + actionKey;
    } else {
      actionMsg = "Press Ctrl-" + actionKey;
    }
    return actionMsg;
  }
</script>

{{/*  Algolia Search  */}} 
{{ with .Site.Params.algolia }}
<link
  rel="preload"
  href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.4/dist/instantsearch.min.css"
  as="style"
  onload="this.onload=null;this.rel='stylesheet'"
/>
<noscript><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.4/dist/instantsearch.min.css"/></noscript>
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.4" defer></script>
<link
  rel="preload"
  href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.4/dist/instantsearch-theme-algolia.min.css"
  as="style"
  onload="this.onload=null;this.rel='stylesheet'"
/>
<noscript><link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.4/dist/instantsearch-theme-algolia.min.css"/></noscript>
{{ end }} 

{{/*  Adsense  */}} 
{{ with .Site.Params.adsense }}
<script
  async
  src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "{{ . }}",
    enable_page_level_ads: true
  });
</script>
{{ end }}
{{/*  Twitter Card  */}}
{{ partial "twitter-card"  . }}

{{/* This is the only way I can get preload to work on firefox, so leave it here until they support preload */}}
<script>
  /*! loadCSS. [c]2017 Filament Group, Inc. MIT License */
/* This file is meant as a standalone workflow for
- testing support for link[rel=preload]
- enabling async CSS loading in browsers that do not support rel=preload
- applying rel preload css once loaded, whether supported or not.
*/
(function( w ){
	"use strict";
	// rel=preload support test
	if( !w.loadCSS ){
		w.loadCSS = function(){};
	}
	// define on the loadCSS obj
	var rp = loadCSS.relpreload = {};
	// rel=preload feature support test
	// runs once and returns a function for compat purposes
	rp.support = (function(){
		var ret;
		try {
			ret = w.document.createElement( "link" ).relList.supports( "preload" );
		} catch (e) {
			ret = false;
		}
		return function(){
			return ret;
		};
	})();

	// if preload isn't supported, get an asynchronous load by using a non-matching media attribute
	// then change that media back to its intended value on load
	rp.bindMediaToggle = function( link ){
		// remember existing media attr for ultimate state, or default to 'all'
		var finalMedia = link.media || "all";

		function enableStylesheet(){
			// unbind listeners
			if( link.addEventListener ){
				link.removeEventListener( "load", enableStylesheet );
			} else if( link.attachEvent ){
				link.detachEvent( "onload", enableStylesheet );
			}
			link.setAttribute( "onload", null ); 
			link.media = finalMedia;
		}

		// bind load handlers to enable media
		if( link.addEventListener ){
			link.addEventListener( "load", enableStylesheet );
		} else if( link.attachEvent ){
			link.attachEvent( "onload", enableStylesheet );
		}

		// Set rel and non-applicable media type to start an async request
		// note: timeout allows this to happen async to let rendering continue in IE
		setTimeout(function(){
			link.rel = "stylesheet";
			link.media = "only x";
		});
		// also enable media after 3 seconds,
		// which will catch very old browsers (android 2.x, old firefox) that don't support onload on link
		setTimeout( enableStylesheet, 3000 );
	};

	// loop through link elements in DOM
	rp.poly = function(){
		// double check this to prevent external calls from running
		if( rp.support() ){
			return;
		}
		var links = w.document.getElementsByTagName( "link" );
		for( var i = 0; i < links.length; i++ ){
			var link = links[ i ];
			// qualify links to those with rel=preload and as=style attrs
			if( link.rel === "preload" && link.getAttribute( "as" ) === "style" && !link.getAttribute( "data-loadcss" ) ){
				// prevent rerunning on link
				link.setAttribute( "data-loadcss", true );
				// bind listeners to toggle media back
				rp.bindMediaToggle( link );
			}
		}
	};

	// if unsupported, run the polyfill
	if( !rp.support() ){
		// run once at least
		rp.poly();

		// rerun poly on an interval until onload
		var run = w.setInterval( rp.poly, 500 );
		if( w.addEventListener ){
			w.addEventListener( "load", function(){
				rp.poly();
				w.clearInterval( run );
			} );
		} else if( w.attachEvent ){
			w.attachEvent( "onload", function(){
				rp.poly();
				w.clearInterval( run );
			} );
		}
	}


	// commonjs
	if( typeof exports !== "undefined" ){
		exports.loadCSS = loadCSS;
	}
	else {
		w.loadCSS = loadCSS;
	}
}( typeof global !== "undefined" ? global : this ) );

</script>