<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button href="/">
        <ion-icon src="/images/ajonp_logo.svg" size="large" slot="icon-only">
        </ion-icon>
      </ion-button>
    </ion-buttons>
    <div id="search-box" style="width: 80%;margin: auto;"><!-- SearchBox widget will appear here --></div>
  </ion-toolbar>
  {{ partial "search-hits" . }}
</ion-header>
