<div id="algolia-powered">
    <ion-buttons slot="start">
      <ion-button
        href="https://www.algolia.com/?utm_source=instantsearch.js&utm_medium=website&utm_content=localhost&utm_campaign=poweredby"
      >
        <ion-icon
          src="/images/logo-algolia-nebula-blue-whitespaces-bf76438c.svg"
          size="small"
          slot="end"
        >
        </ion-icon>
        Search By
      </ion-button>
    </ion-buttons>
  </div>
  <div id="refinement-list"></div>
  <div id="hits"></div>
  