{{ define "header"}} {{ partial "header" .}} {{ end }} {{ define "main"}}
<ion-page class="ion-page" main>
    {{ partial "page-header" . }}
  <ion-content padding>
    <ion-grid>
      {{ if isset $.Site.Params "home" }}
      <ion-row justify-content-center>  
        <ion-card>
          {{with $.Site.Params.home.image }}
          <ion-img src="{{ . }}" alt="Home Banner"></ion-img>
          {{ end }}
          {{ partial "site-social-card-buttons" . }}
        </ion-card>
      {{ end }}
      </ion-row>
      <ion-row>
        <ion-col>
          {{ .Content }}
        </ion-col>
      </ion-row>
      {{ range first 1 (where .Pages "Section" "lessons").ByDate.Reverse }}
      <ion-row><ion-col><h2>Latest Video</h2></ion-col></ion-row>
      <ion-row><ion-col>
        <ion-card>
            {{ with .Params.twitter}}
            {{ if ne .card "app" -}}
              {{ if (isset . "player") }}
                <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
                  <iframe src="{{ .player }}" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;" allowfullscreen="" title="YouTube Video" frameborder="0"></iframe>
                </div>
                {{end}}
              {{ end }}
            {{ end }}        
        </ion-card>
      </ion-col></ion-row>
      {{ end }}
      <ion-row><ion-col><h2>Latest Lessons</h2></ion-col></ion-row>
      <ion-row justify-content-center>
        {{ range first 2 (where .Pages "Section" "lessons").ByDate.Reverse }}
        {{partial "card-link" . }}
        {{ end }}
      </ion-row>
    </ion-grid>
    {{ partial "footer_home" .}}
  </ion-content>
</ion-page>
{{ end }}
