{{ define "header"}} {{ partial "header" .}} {{ end }} {{ define "main"}}
<ion-page class="ion-page" main>
    {{ partial "page-header" . }}
  <ion-content padding>
    <ion-grid>
      {{ if isset $.Site.Params "home" }}
      <ion-row justify-content-center>
        <ion-card style="max-width:500px">
          <ion-card-header>
            {{ with  $.Site.Params.home.title }}<ion-card-title>{{ . }}</ion-card-title>{{ end }}
            {{ with $.Site.Params.home.subtitle }}<ion-card-subtitle>{{ . }}</ion-card-subtitle>{{ end }}
          </ion-card-header>
          {{with $.Site.Params.home.image }}
          <ion-img src="{{ . }}" alt="Home Banner"></ion-img>
          {{ end }}
          <ion-card-content>
          {{ partial "site-social-card-buttons" . }}
          </ion-card-content>
        </ion-card>
      {{ end }}
      </ion-row>
      <ion-row justify-content-center> <h2>Recent Lessons</h2> </ion-row>
      <ion-row justify-content-center>
        {{ range first 4 (where .Pages "Section" "lessons").ByDate.Reverse }}
        {{partial "card-link" . }}
        {{ end }}
      </ion-row>
    </ion-grid>
  </ion-content>
  {{ partial "footer" .}}
</ion-page>
{{ end }}
