<style>
    .blockquote-tertiary blockquote {
      border-left-color: var(--ion-color-tertiary);
      background-color: var(--ion-color-tertiary-tint);
      color: var(--ion-color-tertiary-contrast);
      border-left-style: solid;
      border-left-width: 4px;
      margin: 0.1em auto;
      padding: 0.5em;
      border-radius: 0.2em;
    }
    .blockquote-tertiary blockquote a {
      color: var(--ion-color-tertiary-contrast);
    }
    .blockquote-tertiary p {
      margin: 0px;
      padding: 1em;
      color: var(--ion-color-tertiary-contrast);
    }
  </style>
  <span class="blockquote-tertiary">
    <p float-left><i class="fas fa-info-circle"></i>{{ .Inner }}</p>
  </span>
  